
<div class="flex justify-center mt-9 py-3 shadow-inner">
    <span *ngIf="!task">
        No task found!
        <a routerLink="" class="ml-2 text-gray-800 underline hover:text-gray-700">tasks list</a>
    </span>

    <div *ngIf="task" class="w-1/2 grid justify-items-center">
    
        <div class="w-full flex justify-between mb-6">
            <button (click)="goBack()" class="bg-blue-500 hover:bg-blue-700 text-white text-2xl px-3 rounded-lg">&larr;</button>
            <img *ngIf="!edit_mode" (click)="switchToEditMode()" src="../assets/img/edit.png" title="Edit task" class="max-w-xs h-6 cursor-pointer">
        </div>

        <div *ngIf="task?.is_done" class="mb-1 items-center px-2 flex justify-self-end bg-indigo-800 rounded-full">
            <img src="../assets/img/checkmark.png" class="max-w-xs h-5">
            <span class="text-white ml-1">Done!</span>
        </div>

        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="w-full py-4 px-8 bg-indigo-400 border border-blue-600 rounded">
            <input type="number" formControlName="id" class="hidden"/>
            <div class="flex mb-2">
                <label for="title" class="w-1/3">Title</label>
                <input id="title" type="text" formControlName="title" class="w-2/3 pl-2 rounded" [class.hidden]="!edit_mode"/>
                <span class="w-2/3" [class.hidden]="edit_mode">{{task?.title}}</span>
            </div>
            <div class="flex mb-2">
                <label for="date" class="w-1/3">Scheduled For</label>
                <input id="date" type="date" formControlName="date" [ngModel]="task?.date | date:'yyyy-MM-dd'" class="w-2/3 pl-2 rounded" [class.hidden]="!edit_mode"/>
                <span class="w-2/3" [class.hidden]="edit_mode">{{task?.date | date:"dd/MM/yyyy"}}</span>
            </div>
            <div class="flex mb-4">
                <label for="details" class="w-1/3">Details</label>
                <input id="details" type="text" formControlName="details" class="w-2/3 pl-2 rounded" [class.hidden]="!edit_mode"/>
                <span class="w-2/3" [class.hidden]="edit_mode">{{task?.details}}</span>
            </div>
            <button *ngIf="edit_mode" type="submit" class="bg-green-400 border border-green-800 pb-1 px-3 rounded hover:bg-green-500">
                Save
            </button>
            <span *ngIf="edit_mode" class="mx-2 text-gray-700">-</span>
            <span *ngIf="edit_mode" (click)="edit_mode=false;" class="text-gray-700 cursor-pointer hover:underline">cancel</span>
        </form>

    </div>
</div>